body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../img-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

/* Regole Hedaer */
footer{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  ul{
    display: flex;
    list-style-type: none;
    gap: 5px;

    a{
      text-decoration: none;
      color: #fff;
    }
  }
}


/* REGOLE MAIN */
main{
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  
  section{
    width: 70%;
    margin: 0 auto;
    text-align: center;

    h1{
      margin: 0;
      padding: 50px;
    }
  }
}